<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--登陆过滤器，自行添加过滤页面-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>cn.vove7.filters.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>PublishHomeworkServlet</servlet-name>
        <servlet-class>servlets.PublishHomeworkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadEvaluteServlet</servlet-name>
        <servlet-class>servlets.UploadEvaluteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadEvaluteServlet</servlet-name>
        <url-pattern>/frontDesk/uploadEvalute.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishHomeworkServlet</servlet-name>
        <url-pattern>/backDesk/publishHomework.servlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>cn.vove7.filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--文件下载servlet-->
    <servlet>
        <description>This servlet sends file to client</description>
        <display-name>DownloadFileServlet</display-name>
        <servlet-name>download</servlet-name>
        <servlet-class>com.dream.FileDownload.FileDownload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download.servlet</url-pattern>
    </servlet-mapping>
    <!--文件删除servlet-->
    <servlet>
        <servlet-name>DeleteFile</servlet-name>
        <servlet-class>com.dream.FileDelete.FileDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommitHomework</servlet-name>
        <servlet-class>servlets.CommitHomeworkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommitHomework</servlet-name>
        <url-pattern>/frontDesk/commitHomework.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFile</servlet-name>
        <url-pattern>/delete.servlet</url-pattern>
    </servlet-mapping>
</web-app>