.btn-blue {
    background-color: #00AAFF;
    border-color: #00a0f0; }
.btn-blue:hover, .btn-blue:focus {
    background-color: #00a0f0;
    border-color: #00a0f0; }

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

a.floatButton {
    margin: 5px;
    box-sizing: inherit;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    text-align: center;
    background-color: #4285f4;
    border: 0;
    padding:4px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    height: 30px;
    min-width: 50px;
    outline: 0;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: background-color .2s, box-shadow .2s;
    vertical-align: middle;
    white-space: nowrap;
}
a.floatButton:visited{
    color: #fff;
}
a.floatButton:hover {
    color: #fff;
    background-color: #039be5;
}