.choiceBump,.completionBump,.operation_field {
    padding: 0 40px 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #303030;
    word-wrap: break-word;
    margin-bottom: 20px;
    /*自动换行*/
}

.option {
    margin: 10px;
    height: 30px;
    padding-left: 10px;
}

input[type="radio"].radio {
    display: inline;
    margin: 5px 10px 0px;
}

.choice-question,.completion-question {
    margin: 10px;
    font-size: 1.2em;
}
.operationQuestion{
    margin: 20px;
    font-family: "Microsoft YaHei UI";
}
.question_index{
    font-size: 1.2em;
    font-weight: bold;
}
img{
    max-width: 40%;
    max-height: 500px;
    display: block;
    height: initial;
    vertical-align: middle;
}