
.homework-title,.choice-title,.ref-key,input.choice,.score {
    margin-left: 2px;
    -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 34px;
    box-sizing: border-box;
    padding: 6px 12px;

    font: inherit;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input.ref-key{
    width: 100px;
}
.homework-title{
    margin-top: 8px;
    margin-left: 10%;
    height: 45px;
    width: 80%;
    font-size: 1.2em;
}
.choice-title{
    width: 95%;
}
.choice{
    width: 95%;
}
.choice_field{
    width: 95%;
    margin: 20px;

}
.float-right{
    height:70px;
    padding: 4px;
    margin-right: 20px;
}
.completion_field{

}
.narrow{
    width: 80px;
}
.title{
    float: left;
    font-size: 1.2em;
    font-weight: bold;
}
tr{
    height: 45px;
    margin-top: 5px;
}